<div class="container">
  <h3>Edit Your Job Details</h3>
  <div [formGroup]="postjobForm">
    <!-- <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="exampleInputCompany" class="form-label">Company Name</label>
      <input
        type="company"
        class="form-control"
        id="exampleInputCompany"
        formControlName="companyUser"
      />
    </div> -->
    <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="InputjobRole">Job Role</label>
      <input
        type="role"
        class="form-control"
        aria-describedby="RoleHelp"
        id="InputjobRole"
        placeholder="Enter Job Role"
        formControlName="jobRole"
      />
    </div>
    <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="exampleFormControlTextarea1">Job Description</label>
      <textarea
        class="form-control"
        title="exampleFormControlTextarea1"
        rows="3"
        formControlName="jobDescription"
      ></textarea>
    </div>

    <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="jobTypeFormControlSelect">Job Type</label>
      <select
        class="form-control"
        id="jobTypeFormControlSelect"
        formControlName="jobType"
      >
        <option value="FULL_TIME">FULL TIME</option>
        <option value="PART_TIME">PART TIME</option>
        <option value="INTERN">INTERN</option>
      </select>
    </div>
    <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="jobDomainFormControlSelect">Job Domain</label>
      <select
        class="form-control"
        id="jobDomainFormControlSelect1"
        title="jobDomainFormControlSelect1"
        formControlName="jobDomain">
        <option value="TECHNICAL">TECHNICAL</option>
        <option value="CONSULTING">CONSULTING</option>
        <option value="SALES_AND_MARKETING">SALES AND MARKETING</option>
        <option value="DESIGN">DESIGN</option>
        <option value="HEALTHCARE">HEALTHCARE</option>
      </select>
    </div>
    <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="jobOpenForFormControlSelect">Open For</label>
      <select
        class="form-control"
        id="jobOpenForFormControlSelect1"
        title="jobOpenForFormControlSelect1"
        formControlName="jobOpenFor">
        <option value="MALE_ONLY">MALE ONLY</option>
        <option value="FEMALE_ONLY">FEMALE ONLY</option>
        <option value="ALL">ALL</option>
      </select>
    </div>
    <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="jobLocationFormControlSelect">Job Location</label>
      <ng-select
        [items]="categories"
        bindLabel="locationCity"
        [compareWith]="compareLocation"
        placeholder="Select Category"
        appendTo="body"
        [multiple]="true"
        formControlName="jobLocation"
      >
      </ng-select>
    </div>
    <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="QualificationsFormControlSelect">Qualifications</label>
      <ng-select
        [items]="categories_qualifications"
        bindLabel="qualificationName"
        [compareWith]="compareQualification"
        placeholder="Select Category"
        appendTo="body"
        [multiple]="true"
        formControlName="qualification"
      >
      </ng-select>
    </div>
    <div class="mb-3" class="col-sm-5 col-lg-12">
      <label for="jobLocationFormControlSelect">Skills Required</label>
      <ng-select
        [items]="categories_skills"
        bindLabel="skillSetName"
        [compareWith]="compareSkill"
        placeholder="Select Category"
        appendTo="body"
        [multiple]="true"
        formControlName="skillSet"
      >
      </ng-select>
    </div>
    <button class="btn btn-primary" type="submit" (click)="onFormSubmit()">
      Post
    </button>
  </div>
</div>
