<div class="container" *ngIf="college; else loading">
  <h2 class="text-center">College Details</h2>
  <br />

  <div class="container" style="height: 400px; width: 500px">
    <ul class="list-group">
      <li class="list-group-item"><b>Name: </b>{{ college.collegeName }}</li>

      <li class="list-group-item">
        <b>Website: </b>
        <a href="{{ college.collegeWebsite }}"> {{ college.collegeWebsite }}</a>
      </li>

      <li class="list-group-item">
        <b>Email ID: </b> {{ college.collegeEmail }}
      </li>

      <li class="list-group-item">
        <b>NIRF Ranking: </b> {{ college.collegeNirfRanking }}
      </li>

      <li class="list-group-item">
        <b>AICTE Approval: </b> {{ college.collegeAicteAffiliation }}
      </li>

      <li class="list-group-item">
        <b>City: </b> {{ college.collegeLocation.locationCity }}
      </li>

      <li class="list-group-item">
        <b>District: </b> {{ college.collegeLocation.locationDistrict }}
      </li>

      <li class="list-group-item">
        <b>State: </b> {{ college.collegeLocation.locationState }}
      </li>

      <li class="list-group-item">
        <b>Pincode: </b> {{ college.collegeLocation.locationPinCode }}
      </li>

      <li class="list-group-item">
        <b>Country: </b> {{ college.collegeLocation.locationCountry }}
      </li>
    </ul>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

