<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a type="button" style="margin: 10px" class="btn btn-dark" routerLink="/">
      Home
    </a>
    <a
      type="button"
      style="margin: 10px"
      class="btn btn-secondary mr-3"
      routerLink="/login"
    >
      Login
    </a>
    <a
      type="button"
      style="margin: 10px"
      class="btn btn-primary"
      routerLink="/register"
    >
      Register
    </a>
  </nav>
</div>

<div class="text-center p-4">
  <h4 class="text-muted">Top Companies use our portal</h4>
  <div class="container mt-4">
    <div class="row">
      <div *ngFor="let company of companies" class="col-4 col-md-2 col-lg-2">
        <a [href]="company.companyWebsite" style="width: 18rem">
          <img
            [src]="company.companyImage"
            alt="Card image"
            class="img-fluid"
          />
        </a>
      </div>
    </div>
  </div>

  <h4 class="text-muted mt-4">Colleges on our portal</h4>
  <div class="container mt-4">
    <div class="row">
      <div *ngFor="let college of colleges" class="col-4 col-md-2 col-lg-2 p-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">{{ college.collegeName }}</h5>
            <p class="card-text">
              Nirf Ranking: {{ college.collegeNirfRanking }}
            </p>
            <a href="www.google.com" class="card-link">{{
              college.collegeWebsite
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
