<div>
  <tabset type="pills">
    <tab>
      <ng-template tabHeading>
        <div class="text-center">
          <i class="bi bi-briefcase-fill" style="font-size: larger;"></i>
          <br />
          <small class="px-2">Jobs</small>
        </div>
      </ng-template>
      <app-college-jobs-detail></app-college-jobs-detail>
    </tab>
    <tab>
      <ng-template tabHeading>
        <div class="text-center">
          <i class="bi bi-building" style="font-size: larger;"></i>
          <br />
          <small>College</small>
        </div>
      </ng-template>
      <app-college-profile></app-college-profile>
    </tab>
    <tab>
      <ng-template tabHeading>
        <div class="text-center">
          <i class="bi bi-person-circle" style="font-size: larger;"></i>
          <br />
          <small>Account</small>
        </div>
      </ng-template>
      <app-user-profile></app-user-profile>
    </tab>
  </tabset>
</div>
