<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a type="button" style="margin: 10px" class="btn btn-dark" routerLink="/">
    Home
  </a>
  <a
    type="button"
    style="margin: 10px"
    class="btn btn-secondary mr-3"
    routerLink="/login"
  >
    Login
  </a>
  <a
    type="button"
    style="margin: 10px"
    class="btn btn-primary"
    routerLink="/register"
  >
    Register
  </a>
</nav>
<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="my-5">
        <div>
          <div class="display-4 text-center">
            <i class="bi bi-person-plus-fill"></i>
          </div>
          <h3 class="text-center mb-2">Register</h3>
          <app-user-detail-form
            [user]="user"
            [buttonText]="'Register'"
            (formSubmit)="onRegister()"
          ></app-user-detail-form>
          <br />
        </div>
        <small
          >Already have an account?
          <a routerLink="/login"><strong>Signin here.</strong> </a></small
        >
      </div>
    </div>
  </div>
  <!-- Alert Component-->
  <div style="position: absolute; bottom: 10px; z-index: 100">
    <app-dismissive-alert></app-dismissive-alert>
  </div>
</div>
