<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a type="button" style="margin: 10px" class="btn btn-dark" routerLink="/">
    Home
  </a>
  <a
    type="button"
    style="margin: 10px"
    class="btn btn-secondary mr-3"
    routerLink="/login"
  >
    Login
  </a>
  <a
    type="button"
    style="margin: 10px"
    class="btn btn-primary"
    routerLink="/register"
  >
    Register
  </a>
</nav>
<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="my-5">
        <div>
          <div class="display-4 text-center">
            <i class="bi bi-person-badge-fill"></i>
          </div>
          <h5 class="text-center">Sign In</h5>
          <div class="form-signin">
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input
                type="email"
                class="form-control rounded"
                id="inputEmail"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                [(ngModel)]="credentials.email"
              />
            </div>

            <br />
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input
                type="password"
                class="form-control rounded"
                id="inputPassword"
                aria-describedby="passwordHelp"
                placeholder="Enter password"
                [(ngModel)]="credentials.password"
              />
            </div>
            <br />
            <button
              type="button"
              class="btn btn-primary w-100"
              (click)="onLogin()"
            >
              Login
            </button>
          </div>
        </div>
      </div>
      <small class="mt-3"
        >Don't have an account?
        <a routerLink="/register">Register now!</a></small
      >
    </div>
  </div>
  <div style="position: absolute; bottom: 10px; z-index: 100">
    <app-dismissive-alert></app-dismissive-alert>
  </div>
</div>
